.features {
	margin-bottom: 13rem;
	&__container {
		display: flex;
		gap: 0 17rem;
	}
	&__image {
		flex-shrink: 0;
	}
	&__content {
		margin-top: 4rem;
	}
	&__desciption {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		line-height: 3rem;
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 0 10px;
		margin-bottom: 1.5rem;
		& span {
			font-size: 1.4rem;
		}
	}
	&__icon {
		max-width: 2.4rem;
		max-height: 2.4rem;
	}
	@media screen and (max-width: 991px) {
		margin-bottom: 10rem;
		&__container {
			gap: 0 5rem;
            align-items: center;
		}
        &__image {
            flex-shrink: 1;
        }
	}
    @media screen and (max-width: 767px) {
		margin-bottom: 7rem;
		&__container {
			gap: 2rem 0rem;
            align-items: baseline;
            flex-direction: column;
		}
	}
}
