.network{
    margin-bottom: 5rem;
    &__header{
        display: flex;
        align-items: center;
        flex-direction: column;
        & .headding{
            max-width: 38.5rem;
            text-align: center;
        }
    }
    &__description{
        max-width: 55.5rem;
        font-size: 1.6rem;
        text-align: center;
        line-height: 3rem;
        margin-bottom: 13.6rem;
    }
    &__image{
        max-width: 106.0rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    &__partner{
        margin-bottom: 3.5rem;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 0 6rem;
        align-items: center;
    }
    @media screen and (max-width: 991px){
        &__description{
            margin-bottom: 8rem;
        }
        &__list{
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    @media screen and (max-width: 991px){
        &__description{
            margin-bottom: 5rem;
        }
    }
}