.subscribe{
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5.8rem 7rem;
        background: $text-color-white;
        border-radius: 1rem;
        box-shadow: 0 3rem 4rem 0 rgba(13, 16, 37, 0.064);
    }
    & .headding{
        max-width: 37.2rem;
        text-align: center;
    }
    &__description{
        max-width: 41rem;
        font-size: 1.6rem;
        line-height: 3rem;
        text-align: center;
    }
    @media screen and(max-width:991px){
        &__container{
            flex-direction: column;
        }
        &__description{
            margin-bottom: 2rem;
        }
    }
    @media screen and(max-width:768px){
        &__container{
            padding: 2.8rem 1rem;
        }
    }
}